@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

h1{
  font-size: 50px;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;  
  
}

.App_input{
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  border:1px solid black;
}

.App_submit{
  padding: 10px;
  cursor:pointer;
  border-radius: 4;
  background-color: blue;
  color: white;
  border:1px solid black;
}
.App_submit:hover{
  background-color: #9c92ac;
  color:white ;
}
.App_recipe{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-template-columns: 200px 250px;
  margin-top: 10px;
  align-items: baseline;
  
}
.App_dropdown{
  padding: 10px;
  margin: 10px;
  background-color: white;
  color: black;
  border:1px solid black;
}

